/* google font import link */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* overall margin & padding */

*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* common items */
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding:0 30px;
    margin-bottom: 100px;
}
h1{
    font-size: 52px;
}

hr{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) );
}

.highlight{
    color:#E02C6D;
}

.text{
    text-align: justify;
}

.button{
    text-decoration: none;
    font-size: 16px;
    color:white;
    background-color: #E02C6D;
    padding:15px 30px;
    border-radius: 100px;
}
.tab{
    margin-left: 20px;
}
/* navigation part stylesheets */

.navigation-panel{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    height: 180px;
    margin-left: 120px;
    margin-right: 120px;
}
.nav-left{
    display: flex;
    font-size: 24px;
    font-weight: 700;
}
#nav-toggler, label, #cart{
    display: none;
}
.nav-left p{
    padding:0 20px;
}
.nav-right ul{
    display: flex;
    
}
.nav-right ul li{
    list-style: none;
    margin: 0 20px;
}
ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color:black;
    padding:5px 10px;
}

/* top section style sheets */

.top-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 475px;
}
.top-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.top-right{
    display: flex;
}
.top-right{
    position: relative;
}
#top-image{
    position: relative;
    padding:20px;
    margin-left: 120px;
}
small{
    margin-left: 770px;
}

/* transform & transition */
 
#top-image:hover{
    transform: rotate(360deg);
    transition: transform 3s;
}
#back-image{
    position: absolute;
    margin-left: 120px;
}

/* company logo stylesheet */
.company-logo{
    display: flex;
    justify-content: space-between;
    margin:30px 0;
}

/* midle section stylesheet */
#middle-section-title{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(245, 241, 241);
    justify-content: space-around;
    margin-bottom: 30px;
    
}
.product{
    
    width: 300px;
    height: 350px;
    border:solid 10px white;
    margin:20px 30px;
    border-radius: 20px;
    background-color: white;
    padding: 10px;
}
.pruduct-image{
    text-align: center;
}
.product img{
    width: 300px;
    height: 200px;
}
.price{
    font-size: 25px;
}
.star .fas{
    color:goldenrod;
}
.pruduct-info p{
    color:gray;
}
.pruduct-info .price{
    color:black;
}
#middle-footer{
    text-decoration: none;
    color: #E02C6D;
    margin-left:1050px;
}

/* last section star  */

.last-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}
.left img{
    width: 450px;
    height: 300px;
}

.right h2{
    font-size: 30px;
}
.right form{
    display: flex;
    flex-direction: column;
    width: 600px;
    font-family: inherit;
}
.right form input,select,textarea{
    margin: 10px 0;
    border:2px solid #E02C6D;
    padding: 10px;
}
.right form button{
    width:80px;
    height: 40px;
    outline:0;
    border:0;
    padding: 0 5px;
    margin-left: 250px;
}
footer{
    background-color: rgb(16, 16, 41);
    color:white;
    text-align: center;
}
footer a{
    text-decoration: none;
    color:white;
}
.social-media{
    font-size: 24px;
}

/* reponsive media query start  */


/* reponsive for smartphone */


@media (max-width:672px) {
    .container{
        width: 100%;
    }
    .navigation-panel{
        display: inline;
    }
    #company-name, #cart{
        display: flex;
    }
    #company-name{
        margin-left: 36px;
    }
    label{
        display:flex;
    }
    #company-name, #cart{
        margin-top: 0;
        font-size: 16px;
    }
    .nav-left p{
        font-size: 12px;
    }
    .nav-right ul{
        position: absolute;
        flex-direction: column;
        display: none;
        margin-left: 20px;
        background-color: rgb(255, 169, 154);
    }
    
    #nav-toggler:checked ~ ul{
        display: block;
        z-index: 1;
    }
    .nav-right ul li{
        margin: 20px 0;
    }
    label{
        margin-top: -20px;
        margin-left: 20px;
    }
    small{
        display:none;
    }
    .top-section{
        grid-template-columns: repeat(1, 1fr); 
        margin-bottom: 10px;
    }
    .top-left{
        order:2;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 80%;
    }
    .top-left h1{
        font-size:20px;
    }
    .top-left .button{
        width: 65%;
        margin: 0;
    }
    #top-image, #back-image{
        margin: 0;
        padding:0;
        
    }
    #top-image{
        width: 85%;
    }
    #back-image{
        width: 85%;
    }
    hr{
        display: none;
    }
    .company-logo{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 0;
        padding: 0;
        grid-row-gap: 10px;
        margin-right: 20px;
        margin-bottom: -80px;
    }
    .company-logo img{
        width:50.94px;
        height:15.33px;
        
    }
    #middle-section-title{
        font-size: 20px;
        padding: 0;
        margin-right: 45px;
    }
    .products{
        grid-template-columns: repeat(1, 1fr);
        background-color: white;
    }
    .product{
        margin: 0;
        width: 70%;
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }
    .product img{
        width: 100%;
    }
    .last-section{
        grid-template-columns: repeat(1, 1fr);
    }
    .left img{
        width: 100%;
        height: fit-content;
        margin-bottom: 20px;
    }
    .right h2{
        font-size: 16px;
    }
    .right form{
        width:80%;
    }
    .right form button{
        margin-left:0;
    }
    #middle-footer{
        margin-left: 0;
    }
    footer{
        font-size: .6em;
        width: 105%;
    }
}

/* reponsive for pad  */


@media (max-width:992px) {
    .container{
        width: 100%;
    }
    .navigation-panel{
        display: inline;
    }
    #company-name, #cart{
        display: flex;
        margin-left: 50px;
    }
    #company-name{
        margin-left: 200px;
    }
    label{
        display:flex;
    }
    #company-name, #cart{
        margin-top: 0;
        font-size: 30px;
    }
    .nav-left p{
        font-size: 12px;
    }
    .nav-right ul{
        position: absolute;
        flex-direction: column;
        display: none;
        margin-left: 20px;
        background-color: rgb(255, 169, 154);
    }
    
    #nav-toggler:checked ~ ul{
        display: block;
        z-index: 1;
    }
    .nav-right ul li{
        margin: 20px 0;
    }
    label{
        font-size: 40px;
        margin-top: -41px;
        margin-left: 50px;
    }
    small{
        display:none;
    }
    .top-section{
        grid-template-columns: repeat(1, 1fr); 
        margin-bottom: 300px;
    }
    .top-left{
        order:2;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 80%;
        font-size: 20px;
        margin-top: 50px;
    }
    .top-left h1{
        font-size:35px;
    }
    .top-left .button{
        width: 25%;
        margin: 0;
    }
    #top-image, #back-image{
        margin:0;
        padding:0;
        
    }
    #top-image{
        width: 80%;
    }
    #back-image{
        width: 80%;
    }
    hr{
        display: none;
    }
    .company-logo{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 150px;
        padding: 0;
        grid-row-gap: 10px;
        margin-right: 50px;
        margin-left: 20px;
        margin-bottom: -80px;
    }
    #middle-section-title{
        font-size: 40px;
        padding: 0;
        margin-right: 100px;
        margin-top: 150px;
    }
    .products{
        grid-template-columns: repeat(2, 1fr);
        background-color: white;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }
    .product{
    width: 250px;
    height: 300px;
    border:solid 10px white;
    margin-left: 0;
    border-radius: 20px;
    background-color: white;
    padding: 10px;
        
    }
    .product img{
        width: 100%;
    }
    .last-section{
        grid-template-columns: repeat(1, 1fr);
    }
    .left img{
        width: 70%;
        height: fit-content;
        margin-bottom: 20px;
        margin-right: 50px;
    }
    .right h2{
        font-size: 25px;
    }
    .right form{
        width:70%;
    }
    .right form button{
        margin-left:0;
    }
    #middle-footer{
        margin-left: 0;
    }
    footer{
        font-size: .6em;
        width: 90%;
    }
}

/* end stylesheets */